<ul class="list-group list-group-flush">
  <% users.each do |user| %>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <%= link_to user.username, user %>
    <% if local_assigns[:solutions_count] %>
    <%= link_to user_solutions_path(user) do %>
      <%= pluralize(user.solutions_count, 'solved challenge') %>
    <% end %>
    <% end %>
    <% if local_assigns[:registered_date] %>
    <span>
      registered
      <%= time_tag user.created_at, class: "timeago" %>
    </span>
    <% end %>
  <% end %>
</ul>
