<ul class="list-group">
  <% users.each do |user| %>
  <li class="list-group-item justify-content-between">
    <%= link_to user.username, user %>
    <% if local_assigns[:solutions_count] %>
    <%= link_to user_solutions_path(user) do %>
      <%= pluralize(user.solutions_count, 'solved challenge') %>
    <% end %>
    <% end %>
    <% if local_assigns[:registered_date] %>
    <%= "registered #{time_ago_in_words(user.created_at)} ago" %>
    <% end %>
  </li>
  <% end %>
</ul>
