<div class="row">
  <div class="col-lg-6 mb-3">
    <div class="card">
      <div class="card-header">
        <h4>Newest challenges</h4>
      </div>
      <%= render 'challenges/list', challenges: @newest_challenges %>
    </div>
  </div>
  <div class="col-lg-6 mb-3">
    <div class="card">
      <div class="card-header">
        <h4>Newest solutions</h4>
      </div>
      <%= render 'solutions/list', solutions: @newest_solutions %>
    </div>
  </div>
  <div class="col-lg-6 mb-3">
    <div class="card">
      <div class="card-header">
        <h4>Newest users</h4>
      </div>
      <%= render 'users/list', users: @newest_users, registered_date: true %>
    </div>
  </div>
  <div class="col-lg-6 mb-3">
    <div class="card">
      <div class="card-header">
        <h4>Top users</h4>
      </div>
      <%= render 'users/list', users: @top_users, solutions_count: true %>
    </div>
  </div>
</div>
