<div class="row">
  <div class="col-lg-8 mb-3">
    <div class="card">
      <div class="card-header">
        <h4>Newest challenges</h4>
      </div>
      <ul class="list-group list-group-flush">
        <%= render partial: @newest_challenges, layout: 'challenges/added_challenge', locals: { show_category: true } %>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 mb-3">
    <div class="card">
      <div class="card-header">
        <h4>Newest users</h4>
      </div>
      <ul class="list-group list-group-flush">
        <%= render partial: @newest_users, layout: 'users/registered_user' %>
      </ul>
    </div>
  </div>
  <div class="col-lg-8 mb-3">
    <div class="card">
      <div class="card-header">
        <h4>Newest solutions</h4>
      </div>
      <ul class="list-group list-group-flush">
        <%= render @newest_solutions %>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 mb-3">
    <div class="card">
      <div class="card-header">
        <h4>Top users</h4>
      </div>
      <ul class="list-group list-group-flush">
        <%= render partial: @top_users, layout: 'users/top_user' %>
      </ul>
    </div>
  </div>
</div>
