<ul class="list-inline mb-0">
  <% if local_assigns[:show_category] %>
    <li class="list-inline-item">
      <%= link_to challenge.category do %>
        <span class="badge badge-default">
          <%= challenge.category.name %>
        </span>
      <% end %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <% if current_user.solved_challenges.include? challenge %>
      <li class="list-inline-item"><span class="badge badge-success">Solved</span></li>
    <% else %>
      <li class="list-inline-item"><span class="badge badge-warning">Unsolved</span></li>
    <% end %>
  <% end %>
  <li class="list-inline-item">
    <%= link_to challenge_solutions_path(challenge) do %>
      <span class="badge badge-info"><%= pluralize challenge.solutions.size, 'solver' %></span>
    <% end %>
  </li>
</ul>
