<h1>All Challenges</h1>

<ul class="list-group">
  <% @challenges.each do |challenge| %>
    <li class="list-group-item justify-content-between">
      <%= link_to challenge.name, challenge %>
      <%= render 'badges', challenge: challenge %>
    </li>
  <% end %>
</ul>
