<% title "About" %>
<div class="card">
  <div class="card-body">
    <h1 class="card-title">About us</h1>
    <p class="card-text">Hacker Gateway is the go-to place for hackers who want to test their skills.
    <p class="card-text">We offer computer-related problems, also known as challenges,
      that span many categories, including cryptography, steganography,
      security, programming and more.
  </div>
</div>
