$facebook: #0077e2;
$twitter: #00aced;

.footer {
  border: 1px solid rgba(0, 0, 0, 0.6);

  .footer-copyright {
    background-color: rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  .social-networks {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .facebook:hover {
    color: $facebook;
  }

  .twitter:hover {
    color: $twitter;
  }
}
