#footer {
    border: 1px solid rgba(0, 0, 0, 0.6);
}

#footer .footer-copyright {
    background-color: rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

#footer .social-networks {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#footer .facebook:hover {
    color: #0077e2;
}

#footer .twitter:hover {
    color: #00aced;
}
