<ul class="list-group">
  <% @categories.each do |category| %>
    <li class="list-group-item justify-content-between">
      <span>
        <%= link_to category.name, category %>
      </span>
      <span><%= pluralize category.challenges.size, 'challenge' %></span>
    </li>
  <% end %>
</ul>
