<h1><%= @category.name %> Challenges</h1>

<ul class="list-group">
  <% @category.challenges.each do |challenge| %>
    <li class="list-group-item justify-content-between">
      <%= link_to challenge.name, challenge %>
      <%= render 'challenges/badges', challenge: challenge %>
    </li>
  <% end %>
</ul>
