<ul class="list-group">
  <% solutions.each do |solution| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span>
        <%= link_to solution.challenge.name, solution.challenge %>
        <%= render 'challenges/badges', challenge: solution.challenge %>
      </span>
      <span>
        solved <%= "#{time_ago_in_words(solution.created_at)} ago" %>
      </span>
    </li>
  <% end %>
</ul>
