<ul class="list-group">
  <% solutions.each do |solution| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span>
        <%= link_to solution.user.username, solution.user %>
        solved
        <%= link_to solution.challenge.name, solution.challenge %>
      </span>
      <%= "#{time_ago_in_words(solution.created_at)} ago" %>
    </li>
  <% end %>
</ul>
