<% title "#{@challenge.name} solvers" %>

<div class="card">
  <div class="card-header">
    <%= content_tag :h1, "#{@challenge.name} solvers" %>
  </div>
  <%= render 'solvers', challenge: @challenge %>
  <% if @challenge.solvers.empty? %>
    <div class="card-body">
      <p class="card-text">This challenge doesn't have any solvers yet.
    </div>
  <% end %>
</div>
