<% title "Solutions" %>

<div class="card">
  <div class="card-header">
    <%= content_tag :h1, "Solutions" %>
  </div>
  <ul class="list-group list-group-flush">
    <%= render @solutions, cached: true %>
  </ul>
</div>
