<%= content_tag :h2, "#{@challenge.name} solvers" %>
<ul class="list-group">
  <% @challenge.solutions.each do |solution| %>
    <li class="list-group-item justify-content-between">
      <%= link_to solution.user.username, solution.user %>
      <%= "solved #{time_ago_in_words(solution.created_at)} ago" %>
    </li>
  <% end %>
</ul>
<% if @challenge.solvers.empty? %>
  <p>This challenge doesn't have any solvers yet.</p>
<% end %>
