<% title "#{@user.username}'s solved challenges" %>

<div class="card">
  <div class="card-header">
    <%= content_tag :h1, "#{@user.username}'s solved challenges" %>
  </div>
  <ul class="list-group list-group-flush">
    <%= render partial: 'user_solution', collection: @user.solutions, as: :solution, cached: true %>
  </ul>
  <% if @user.solutions.empty? %>
    <div class="card-body">
      <p class="card-text">This user hasn't solved any challenges yet.
    </div>
  <% end %>
</div>
