<div id="CbXyKjYIxQaV"
     class="alert alert-danger text-center"
     style="display:none">
  <strong>
    Our website is made possible by displaying
    online advertisements to our visitors.
    <br>
    Please consider supporting us by disabling your ad blocker.
  </strong>
</div>

<script type="text/javascript">
  var handleAdBlock = function handleAdBlock() {
    document.getElementById('CbXyKjYIxQaV').style.display = 'block';
  }
</script>
